/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply a consistent font */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

/* Style the container to center content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Style the heading */
h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Style the canvas */
canvas {
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

/* Style the footer */
.footer {
    margin-top: 20px;
    color: #666;
}

.footer p {
    font-size: 1em;
}


.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #333;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-over p {
    margin: 10px 0;
}

#retryButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#retryButton:hover {
    background-color: #555;
}
